.sidebar-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    z-index: 1000;
    position: fixed;
    width: 300px;
    height: 100%;
    background: white;
    border-right: 1px solid #ecf0f1;
    margin-top: 0;
    top: 52px;
    left: 0;
    padding-top: 0;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.66);
    box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.66);
}

.sidebar-wrapper .sidebar-nav {
    position: relative;
    top: 0;
    width: auto;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 60px;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
}

.sidebar-nav > .sidebar-brand {
    height: auto;
    font-size: 18px;
    line-height: inherit;
    display: flex;
    align-items: center;
}

.sidebar-nav .sidebar-brand .flow-status {
    margin-left: auto;
    margin-right: 10px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

.flow-status.active {
    border: 3px solid green;
}

.flow-status.inactive {
    border: 3px solid red;
}

.sidebar-nav > .sidebar-brand a {
    display: block;
    text-decoration: none;
    height: 100%;
    text-align: left;
    padding: 10px 27px;
    word-break: break-word;
}

.sidebar-wrapper .flow-details .new-flow-section {
    min-height: 90px;
    margin: 0.4em 0;
    border-bottom: 1px solid #e8e8e8;
    line-height: 1.3;
    padding: 0 10px;
}

.sidebar-wrapper .flow-details .flow-header {
    min-height: 40px;
    margin: 0.1em 0;
    border-bottom: 1px solid #e8e8e8;
    line-height: 1.3;
    padding: 0 10px;
}

.sidebar-wrapper .flow-details .new-flow-section .new-flow {
    border-radius: initial;
    background-color: #eee;
    float: left;
    margin: 18px 0px 15px 15px;
    outline: none;
}

.flow-header h4 {
    padding-top: 5px;
    padding-left: 18px;
}

.sidebar-wrapper .flow-detail-wrapper {
    overflow-y: auto;
}